$main-color: #014D80;
$grey-background: #E2E6ED;
$navbar_item_color: rgba(255, 255, 255, 0.8);
$shadow : 0px 0px 7px rgba(0, 0, 0, 0.5);
$shadow_2 : 2px 5px 10px rgba(0, 0, 0, 0.2);
$shadow_btn: 1px 2px 3px rgba(0, 0, 0, 0.5);
$transition_animation: all 0.2s linear 0s;

body {
	font-family: 'Libre Franklin', sans-serif;
	padding-right: 0 !important;
	max-width:100%;

}

.scrolled {
	background-color: $main-color;
	padding: 0 15px;
	transition: $transition_animation;
	box-shadow: $shadow_2;
}
.general-title {
	color: $main-color;
	position: relative;
	margin-bottom: 2rem;

	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		height: 4px;
		width: 7%;
		background-color: $main-color;
		bottom: -30%;
	}
}
.general-title-white{
	color: white;
	&::after{
	background-color: white;
	}
}
.btn-effect{
	background-color: $main-color;
	color: white;
	border: none;
	border: 2px solid $main-color;
	transition: $transition_animation;
	box-shadow: $shadow_2;
	&:hover {
		background-color: white;
		color: $main-color;
		transition: $transition_animation;
		box-shadow: none;
	}
}
.main-btn {
	width: 130px;
	height: 40px;
	margin-left: 1.25rem;
	margin-bottom: 1.25rem;
	font-weight: 700;
}
//popup style
.modal-backdrop {
	z-index: 1;
}
.modal-custom {
	overflow-y: auto;
	padding-right: 0px !important;

	.modal-dialog-custom {
		margin: 4rem auto;
		width: 400px;
		.modal-content-custom {
			position: relative;
			border: 0;
			box-shadow: $shadow;
			border-radius: 0;
			padding: 1rem;
			.close-btn {
				color: $main-color;
				margin-right: 10px;
				margin-top: 10px;
				position: absolute;
				right: 0;
				top: 0%;
				font-size: 25px;
			}
			.envelope-icon{
				color: $main-color;
			}
			h4{
				color: $main-color;
			}
			.subscribe-form {
				align-items: center;
				margin-top: 1rem;
			}
			.subscribe-input {
				border: 2px solid $main-color;
				border-right: 0;
				height: 40px;
				width: calc(100%*2/3);
				padding-left: 10px;
				&:focus{
					outline: none;
				}
			}
			.subscribe-btn {
				height: 40px;
				width: calc(100%*1/3);
				outline: none;
				border-radius: 0;
				padding: 0 10px;
			}
		}
	}
}

.modal-open {
	overflow: auto;
	padding-right: 0px !important;
}

#header {
	height: 75vh;
	background-image: url("images/mountains.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;

	#nav-custom {
		transition: $transition_animation;
		padding-left: 18px !important;
		padding-right: 18px !important;

		.nav-link-custom {
			font-size: 1.1em;
			color: $navbar_item_color;
			padding: 0.7rem;
			display: flex;
			align-items: center;
			transition: $transition_animation;
			.rotated-angle{
				margin-left: 5px;
				transition: transform .2s ease-in;
			}
			.rotate{
				transform: rotate(180deg);
			}
			&:hover, &:active{
				transition: $transition_animation;
				color: rgba(255, 255, 255, 1);
			}
		}

		.current {
			color: rgba(255, 255, 255, 1);
		}

		.navbar-nav-custom {
			.nav-item-custom {
				cursor: pointer;
				 	&:active>.nav-link>.rotated-angle,
					&:focus>.nav-link>.rotated-angle{
						transform: rotate(180deg);
						transition: transform .2s ease-in;
				 }
			}
			.dropdown-menu-custom{
				border-radius: 0;
				.dropdown-item-custom{
					color: white;
					transition: $transition_animation;
					&:hover{
						color: #343a40;
						transition: $transition_animation;
					}
				}
			}
		}

	}

	.company-name-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);

		h1 {
			font-size: 2.8rem;
		}

		p {
			font-size: 1.3rem;
		}

		a,
		p {
			color: rgb(255, 255, 255);
		}
	}

	.about-company-wrap {
		width: 85%;
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-right: -50%;
		transform: translate(-50%, 65%);
		padding: 20px;
		background-color: $main-color;
		box-shadow: $shadow_2;
		z-index: 2;

		p {
			color: white;
			text-align: center;
			font-size: 1.3rem;
		}
	}
}

#main {
	background-color: $grey-background;
	position: relative;
	z-index: 1;
	.dashboard-items {
		margin-top: 20%;
		margin-bottom: 5%;
		justify-content: space-between;
		.dashboard-item {
			.counter-amount {
				text-align: center;
				font-size: 2.3rem;
				margin-bottom: 0;
			}

			.counter-title {
				text-align: center;
			}
		}
	}

	.community-involvement {
		.container-fluid-custom{
			width: 85%;
			.card-deck-custom {
				.card-custom {
					flex: 0 0 30%;
					border-radius: 0;
					margin-top: 15px;
					box-shadow: $shadow_2;
	
					.card-title {
						font-weight: 700;
						color: $main-color;
					}
				}
			}
		}
		
	}
	.more-about-us {
		padding: 30px;
		a{
			text-decoration: none;
			color: $main-color;
		}
		.more-about-us-title{
			display: flex;
			justify-content: center;
		}
		.arrow{
			font-size: 15px;
			margin-left: 10px;
		}
	}
	.clients{
		background-color: $main-color;

		.clients-logo-wrap{
			width: 15%;
			height: 100%;
			.clients-logo{
				width: 100%;
				height: auto;
			}
		}
	}
	.quotes{
		height: 72vh;
		#carouselTestimonials{
			height: 340px;
			.carousel-item-custom {
				.quote-wrap{
					background-color: white;
					box-shadow: $shadow_2;
					position: relative;
					margin-bottom: 3%;
					.fa-quote-left{
						color: $main-color;
					}
					.quote{
						text-align: center;
					}
				}
				.quote-footer{
					text-align: end;
					.quote-author{
						color: $main-color;
					}
					.author-company{
						text-decoration: none;
						color: $main-color;
					}
				}	
			}
		}
	}
	.article-blog{
		background-color: $main-color;
		.article-img{
			position: relative;
			height: 100%;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(180deg, rgba(255,255,255,0) 25%, rgb(37, 37, 37) 90%);
				z-index: 1;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.article-title{
				position: absolute;
				color: white;
				bottom: 0;
				z-index:2;
				font-size: 3rem;
				    line-height: 1;
			}
		}
		.article-content{
			color: white;
			.article-inner{
				border-right: 2px solid white;
				padding-right: 1rem;
				text-align: justify;
				a{
					color: white;
					i{
						font-size: 15px;
						margin-left: 5px;
					}
				}
			}
		}
		.blog-list-wrap{
			.blog-list-title{
				color: white;
			}
			.blog-post{
				a{
				color: white;
				}
				p{
					display: inline-block;
					color: white;
					font-size: 15px;
				}
			}
		}
	}
}
#footer{
	color: white;
	.general-title{
		color: white;
	}
	.social-icons{
		a{
			color: white;
			display: block;	
			transition: $transition_animation;
			&:hover{
				transform: scale(1.1);
				transition: $transition_animation;
			}
		}
	}
	.copyright{
		a{
			color: white;
		}
	}
}
@media(max-width: 575px){
	.general-title{
		font-size: 1.5rem;
	}
	.modal-custom{
		.modal-dialog-custom{
			width: 100%;
		}
	}
	.container-fluid-custom{
		width: 90%;
	}
	#header{
		height: 375px;
		background-attachment: scroll;
			a{
				color: white;
				padding: 0.7rem 0;
			}
		.company-name-wrap{
			top: 41%;
			h1{
				font-size: 2rem;
				padding-top: 0 !important;
			}
			p{
				font-size: 1rem;
			}
		}
		.about-company-wrap{
			p{
				font-size: 1rem;
			}
		}
	}

	#main{
		.dashboard-items{
			margin-top: 40%;
			margin-bottom: 0;
			justify-content: space-around;
			flex-wrap: wrap;
			.dashboard-item{
				margin-bottom: 1rem;
				.counter-amount{
					font-size: 1.5rem;
				}
				.counter-title{
				font-size: 1.2rem;
				}
			}
		}
		.card-deck-custom{
			margin: 15px;
			.card-custom{
				margin-bottom: 0;
			}
		}
		.more-about-us{
			padding: 15px;
		}
		.clients{
			.clients-logo-wrap{
				width: 30%;
			}
		}
		.quotes{
			.carousel-item-custom {
				.quote-wrap{
					padding: 1rem;
					&::after, &::before{
						bottom: -4%;
					}
					i{
						display: none;
					}
					.quote{
						margin-left: 0;
					}
				}
			}
		} 
	} 
}
@media (max-width: 767px) {
	.general-title{
		font-size: 1.7rem;
	}
	#header{
		#nav-custom{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background-color: $main-color;
			padding-top: 15px;
			padding-bottom: 15px;
			.hamburger{
				width: 30px;
				height: 30px;
				i{
					color: white;
				}
			}
			.navbar-nav-custom{
				.nav-item-custom{
					.dropdown-menu-custom{
						width: 100%;
						border: 0;
						background-color: $main-color !important;
						padding-left: 1rem;
						padding-top: 0;
	
					}
				}
			}
		}
		.company-name-wrap{
			display: block;
		}
		.about-company-wrap{
			width: 90%;
		}

	}
	#main{
		.dashboard-items{
			margin-top: 27%;
		}
		.community-involvement{
			.container{
				max-width: 650px !important;
			}
			.card-deck-custom{
				justify-content: space-around;
				.card-custom{
					flex: 0 0 45%;
					&:last-child{
						margin: 30px;
					}
				}
			}
		}
		.quotes{
			height: 90vh;
		}
		.article-blog{
			.article-img{
				.article-title{
					font-size: 2rem;
					margin-bottom: 0;
				}
			}
			.article-content{
				.article-inner{
					border: 0;
					padding-right: 0;
				}
			}
			.blog-list-wrap{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}
@media (max-width: 991px) {
	body{
		font-size: .9rem;
	}
	.general-title{
		font-size: 1.8rem;
	}
	.container-fluid-custom{
		width: 85%;
	}
	#header{
		#nav-custom{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background-color: $main-color;
			box-shadow: $shadow_2;
			padding: 0;
			.nav-link-custom{
				font-size: .9rem;
			}
		
		}
		.company-name-wrap{
			display: block;
			h1{
				font-size: 2.5rem;
			}
			p{
				font-size: 1.1rem;
			}
		}
		.about-company-wrap{
			p{
				font-size: 1.1rem;
			}
		}
	}
	#main{
		.dashboard-items{
			margin-top: 25%;
			.dashboard-item{
				.counter-amount{
					font-size: 1.5rem;
				}
				.counter-title{
				font-size: 1.2rem;
				}
			}
		}
		.community-involvement{
			.container{
				max-width: 840px !important;
				.card-deck-custom{
					.card-custom{
						flex: 0 0 29%;
					}
				}
			}
		}	
		.article-blog{
			.article-img{
				.article-title{
					font-size: 2.3rem;
				}
			}
			.article-content{
				a{
					font-size: 1.1rem;
				}
			}
			.blog-list-wrap{
				.blog-post{
					p{
						font-size: .8rem;
						&:first-of-type{
							margin-bottom: 0;
						}
					}	
				}
			}
		}
	}
	#footer{
		.copyright{
			font-size: .9rem;
		}
	}
}
@media (max-width: 1199px){
	.container-fluid-custom{
		width: 85%;
	}
	#main{
		.quotes{
			height: 90vh;
		}
		.article-blog{
			.article-img{
				.article-title{
					font-size: 2.8rem;
				}
			}
			.blog-list-wrap{
				padding-right: 1rem;
			}	
		}	
	}
}

@media (min-width: 1600px){
	.general-title{
		font-size: 2.5rem;
	}
	body{
		font-size: 1.2rem;
	}
	.container-fluid-custom{
		width: 90%;
	}
	#header{
		.company-name-wrap{
			h1{
				font-size: 3.5rem;
			}
			p{
				font-size: 1.8rem;
			}
		}
		.about-company-wrap{
			p{
				font-size: 1.5rem;
			}
		}
	}	
	#main{
		.dashboard-items{
			.dashboard-item{
				.counter-amount{
					font-size: 2.7rem;
				}
				.counter-title{
					font-size: 1.7rem;
				}
			}
		}
		.community-involvement{
			.container-fluid-custom{
				.card-deck-custom{
					.card-custom{
						.card-title{
							font-size: 1.6rem;
						}
						.main-btn{
							width: 170px;
							height: 50px;
						}
					}
				}
			}
		}
		.more-about-us{
			.more-about-us-title{
				a{
					font-size: 1.5rem;
				}
				i{
					font-size: 20px;
				}
			}
		}
		.quotes{
			height: 80vh;
		}
	}
}
@media (min-width: 1800px){
	body{
		font-size: 1.4rem;
	}
	.general-title{
		margin-bottom: 2rem;
	}
	.modal-custom {
		.modal-dialog-custom {
			height: auto;
			width: auto;
			.modal-content-custom{
				width: 530px;
				height: 300px;
				justify-content: center;
				padding: 2rem;
				.close-btn {
					font-size: 40px;
					margin-right: 1.2rem;
					margin-top: 1.2rem;
				}
				.modal-title{
					font-size: 2rem;
					margin-top: 1.3rem;
				}
				.subscribe-form{
					margin-top: 1.3rem;
					.subscribe-input {
						height: 50px;
						// width: 300px;
					}
					.subscribe-btn{
						font-size: inherit;
						height: 50px;
					}
				}
			}
		}
	}
	#header{
		#nav-custom{
			.nav-link-custom{
				font-size: 1.4rem;
			}
		}
		.about-company-wrap{
			p{
				font-size: 1.8rem;
			}
		}
	}
	#main{
		.dashboard-items{
			margin-top: 25%;
			margin-bottom: 8%;
		}
		.community-involvement{
			.container-fluid-custom{
				.card-deck-custom{
					.card-custom{
						.card-title{
							font-size: 2rem;
						}
						.main-btn{
							width: 180px;
							height: 50px;
						}
					}
				}
			}
		}
		.more-about-us{
			.more-about-us-title{
				a{
					font-size: 1.7rem;
				}
				i{
					font-size: 22px;
				}
			}
		}
		.clients{
			padding-bottom: 2rem !important;
		}
		.article-blog{
			.blog-list-wrap{
				.blog-list-title{
					font-size: 2.2rem;
				}
				.blog-post{
					h5{
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}



