$main-color: #014D80;
$grey-background: #E2E6ED;
$navbar_item_color: rgba(255, 255, 255, 0.8);
$shadow : 0px 0px 7px rgba(0, 0, 0, 0.5);
$shadow_2 : 2px 5px 10px rgba(0, 0, 0, 0.2);
$shadow_btn: 1px 2px 3px rgba(0, 0, 0, 0.5);
$transition_animation: all 0.2s linear 0s;

body {
	font-family: 'Libre Franklin', sans-serif;
	padding-right: 0 !important;
	max-width:100%;
	font-size: 1rem;
	background-color: $grey-background;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: 0!important;
	outline-color: transparent!important;
	outline-width: 0!important;
	outline-style: none!important;
	box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
.scrolled {
	background-color: $main-color;
	padding: 0 15px;
	transition: $transition_animation;
	box-shadow: $shadow_2;
}
.general-title {
	color: $main-color;
	position: relative;
	margin-bottom: 2rem;

	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		height: 4px;
		width: 7%;
		background-color: $main-color;
		bottom: -30%;
	}
}
.general-title-white{
	color: white;
	&::after{
	background-color: white;
	}
}
.btn-effect{
	background-color: $main-color;
	color: white;
	border: none;
	border: 2px solid $main-color;
	transition: $transition_animation;
	box-shadow: $shadow_2;
	&:hover {
		background-color: white;
		color: $main-color;
		transition: $transition_animation;
		box-shadow: none;
	}
}
.main-btn {
	width: 130px;
	height: 40px;
	font-weight: 700;
}
//popup style
.modal-backdrop {
	z-index: 1;
}
.modal-custom {
	overflow-y: auto;
	padding-right: 0px !important;

	.modal-dialog-custom {
		margin: 4rem auto;
		width: 400px;
		.modal-content-custom {
			position: relative;
			border: 0;
			box-shadow: $shadow;
			border-radius: 0;
			padding: 1rem;
			.close-btn {
				color: $main-color;
				margin-right: 10px;
				margin-top: 10px;
				position: absolute;
				right: 0;
				top: 0%;
				font-size: 25px;
			}
			.envelope-icon{
				color: $main-color;
			}
			h4{
				color: $main-color;
			}
			.subscribe-form {
				align-items: center;
				margin-top: 1rem;
			}
			.subscribe-input {
				border: 2px solid $main-color;
				border-right: 0;
				height: 40px;
				width: calc(100%*2/3);
				padding-left: 10px;
				&:focus{
					outline: none;
				}
			}
			.subscribe-btn {
				height: 40px;
				width: calc(100%*1/3);
				outline: none;
				border-radius: 0;
				padding: 0 10px;
			}
		}
	}
}

.modal-open {
	overflow: auto;
	padding-right: 0px !important;
}
.card-custom{
	box-shadow: $shadow_2;
	border-radius: 0;
	padding: 1rem;
	.card-body-custom{
		padding: 0;
		margin-bottom: .75rem;
		.card-title{
			color: $main-color;
			font-weight: 700;
			margin-bottom: .75rem;
		}
		.card-subtitle{
			margin-bottom: .75rem;
		}
	}
}
#nav-custom {
	transition: $transition_animation;
	padding-left: 18px !important;
	padding-right: 18px !important;

	.nav-link-custom {
		font-size: 1rem;
		color: $navbar_item_color;
		padding: 0.7rem;
		display: flex;
		align-items: center;
		transition: $transition_animation;
		.rotated-angle{
			margin-left: 5px;
			transition: transform .2s ease-in;
		}
		.rotate{
			transform: rotate(180deg);
		}
		&:hover, &:active{
			transition: $transition_animation;
			color: rgba(255, 255, 255, 1);
		}
	}

	.current {
		color: rgba(255, 255, 255, 1);
	}

	.navbar-nav-custom {
		.nav-item-custom {
			cursor: pointer;
		}
		.dropdown-menu-custom{
			border-radius: 0;
			.dropdown-item-custom{
				color: white;
				padding: 0.7rem;
				font-size: 1rem;
				transition: $transition_animation;
				&:hover{
					color: #343a40;
					transition: $transition_animation;
				}
			}
		}
	}

}
#header {
	height: 65vh;
	background-image: url("images/mountains.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;

	.company-name-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);

		h1 {
			font-size: 2.8rem;
		}

		p {
			font-size: 1.3rem;
		}

		a,
		p {
			color: rgb(255, 255, 255);
		}
	}

	.about-company-wrap {
		width: 85%;
		position: absolute;
		left: 50%;
		bottom: 0;
		margin-right: -50%;
		transform: translate(-50%, 65%);
		padding: 20px;
		background-color: $main-color;
		box-shadow: $shadow_2;
		z-index: 2;

		p {
			color: white;
			text-align: center;
			font-size: 1.3rem;
		}
	}
}
#header-about {
	height: 35vh;
    position: relative;
    background-color: $main-color;
    background-image: url("images/mountains.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-attachment: scroll;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $main-color;
        opacity: 0.7;
        z-index: 1;
    }
	.company-name-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 2;

		h1 {
            font-size: 2rem;
            padding-top: 3rem;
		}

		p {
            font-size: 1.1rem;
		}

		a,p {
            color: white;
		}
	}
}
#main {
	position: relative;
	z-index: 1;
	.dashboard-items {
		margin-top: 20%;
		margin-bottom: 5%;
		justify-content: space-between;
		.dashboard-item {
			.counter-amount {
				text-align: center;
				font-size: 2.3rem;
				margin-bottom: 0;
			}

			.counter-title {
				text-align: center;
			}
		}
	}

	.community-involvement {
		.container-fluid-custom{
			width: 85%;
			.card-deck-custom {
				justify-content: space-between;
				padding-top: 15px;
				.card-custom {
					flex: 0 0 30%;
					border-radius: 0;
					box-shadow: $shadow_2;
	
					.card-title {
						font-weight: 700;
						color: $main-color;
					}
				}
			}
		}
		
	}
	.more-about-us {
		padding: 30px;
		a{
			text-decoration: none;
			color: $main-color;
		}
		.more-about-us-title{
			display: flex;
			justify-content: center;
		}
		.arrow{
			font-size: 15px;
			margin-left: 10px;
		}
	}
	.clients{
		background-color: $main-color;

		.clients-logo-wrap{
			width: 15%;
			height: 100%;
			.clients-logo{
				width: 100%;
				height: auto;
			}
		}
	}
	.quotes{
		height: 75vh;
		#carouselTestimonials{
			height: 340px;
			.carousel-item-custom {
				.quote-wrap{
					background-color: white;
					box-shadow: $shadow_2;
					margin-bottom: 3%;
					padding: 1.5rem;
					.quote-symbol{
						color: $main-color;
					}
					.quote{
						text-align: center;
					}
				}
				.quote-footer{
					text-align: end;
					.quote-author{
						color: $main-color;
					}
					.author-company{
						text-decoration: none;
						color: $main-color;
					}
				}	
			}
		}
	}
	.article-blog{
		background-color: $main-color;
		.article-img{
			position: relative;
			height: 100%;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(180deg, rgba(255,255,255,0) 25%, rgb(37, 37, 37) 90%);
				z-index: 1;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.article-title{
				position: absolute;
				color: white;
				bottom: 0;
				z-index:2;
				font-size: 3rem;
				    line-height: 1;
			}
		}
		.article-content{
			color: white;
			.article-inner{
				border-right: 2px solid white;
				padding-right: 1rem;
				text-align: justify;
				a{
					color: white;
					i{
						font-size: 15px;
						margin-left: 5px;
					}
				}
			}
		}
		.blog-list{
			padding: 1rem;
			.blog-list-title{
				color: white;
				font-size: 1.1rem;
			}
			.blog-post{
				margin-bottom: 15px;
				.post-title>a, .post-author>a, .post-date{
				color: white;
				}
				.post-author, .post-date{
					color: white;
					margin-bottom: 0;
					font-size: .7rem;
				}
			}
		}
	}
}
#main-about{
	.our-company-content{
		padding-top: 3rem;
	}
    .our-partners-content{
		padding: 3rem 0;
        .card-custom{
            .partners-logo{
                box-shadow: $shadow_2;
            }
            .card-body-custom{
                padding: 0;
			}
			.main-btn{
				align-self: flex-end;
			}
        }
        
    }
    .promises{
		padding: 3rem 0 ;
        .promise-item{
			background-color: white;
			box-shadow: $shadow_2;
			position: relative;
			padding: 1rem;
			width: 98%;
			margin-bottom: 2.5rem;
			&:last-child{
				margin-bottom: 0;
			}
            .serial-number{
                width:40px;
                height: 40px;
				background-color: $main-color;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate(-50%, -50%);
				box-shadow: $shadow_2;
                .number{
                    color: white;
                    font-weight: 700;
                    font-size: 1.5rem;
                }
			}
			.content{
				margin-left: 1.5rem;
			}
        }
    }
    .our-team{
        .card-custom{
            margin-bottom: 30px;
        }
	}
	.careers{
		.card-custom{
			flex: 0 0 40%;
			margin: 0 1.5rem 1.5rem 1.5rem;
			.briefcase-symbol{
				color: $main-color;
			}
			.card-title{
				margin-top: .75rem;
			}
			.card-body-custom{
				.vacancy-content{
					.vacancy-description{
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}
#footer{
	color: white;
	.general-title{
		color: white;
	}
	.social-icons{
		a{
			color: white;
			display: block;	
			transition: $transition_animation;
			&:hover{
				transform: scale(1.1);
				transition: $transition_animation;
			}
		}
	}
	.copyright{
		a{
			color: white;
		}
	}
}

@media (min-width: 1999px){
	#main{
		.quotes{
			height: 70vh;
		}
		.article-blog{
			.blog-list{
				.blog-post{
					.post-title{
						font-size: 1.1rem;
					}
				}
			}	
		}	
	}
}
@media (min-width: 1600px){
	.general-title{
		font-size: 2.5rem;
	}
	.main-btn{
		width: 170px;
		height: 50px;
	}
	body{
		font-size: 1.2rem;
	}
	.container-fluid-custom{
		width: 90%;
	}
	#header{
		.company-name-wrap{
			h1{
				font-size: 3.5rem;
			}
			p{
				font-size: 1.8rem;
			}
		}
		.about-company-wrap{
			p{
				font-size: 1.5rem;
			}
		}
	}	
	#main{
		.dashboard-items{
			.dashboard-item{
				.counter-amount{
					font-size: 2.7rem;
				}
				.counter-title{
					font-size: 1.7rem;
				}
			}
		}
		.community-involvement{
			.container-fluid-custom{
				.card-deck-custom{
					.card-custom{
						.card-title{
							font-size: 1.6rem;
						}
					}
				}
			}
		}
		.more-about-us{
			.more-about-us-title{
				a{
					font-size: 1.5rem;
				}
				i{
					font-size: 20px;
				}
			}
		}
		.quotes{
			height: 80vh;
		}
	}
}
@media (min-width: 1800px){
	body{
		font-size: 1.4rem;
	}
	.main-btn{
		width: 200px;
		height: 55px;
	}
	.general-title{
		margin-bottom: 3rem;
	}
	.modal-custom {
		.modal-dialog-custom {
			height: auto;
			width: auto;
			.modal-content-custom{
				width: 530px;
				height: 300px;
				justify-content: center;
				padding: 2rem;
				.close-btn {
					font-size: 40px;
					margin-right: 1.2rem;
					margin-top: 1.2rem;
				}
				.modal-title{
					font-size: 2rem;
					margin-top: 1.3rem;
				}
				.subscribe-form{
					margin-top: 1.3rem;
					.subscribe-input {
						height: 50px;
						// width: 300px;
					}
					.subscribe-btn{
						font-size: inherit;
						height: 50px;
					}
				}
			}
		}
	}
	#nav-custom{
		.nav-link-custom{
			font-size: 1.4rem;
		}
		.dropdown-menu-custom{
			.dropdown-item-custom{
				font-size: 1.4rem !important;
			}
		}
	}
	#header{
		.about-company-wrap{
			p{
				font-size: 1.8rem;
			}
		}
	}
	#header-about{
		.company-name-wrap{
			h1{
				font-size: 3.5rem;
			}
			p{
				font-size: 1.8rem;
			}
		}
	}
	#main{
		.dashboard-items{
			margin-top: 25%;
			margin-bottom: 8%;
		}
		.community-involvement{
			.container-fluid-custom{
				.card-deck-custom{
					.card-custom{
						padding: 1.5rem;
						.card-title{
							font-size: 2rem;
						}
					}
				}
			}
		}
		.more-about-us{
			padding: 40px;
			.more-about-us-title{
				a{
					font-size: 1.7rem;
				}
				i{
					font-size: 22px;
				}
			}
		}
		.quotes{
			height: 600px;
		}
		.article-blog{
			.blog-list{
				padding-left: 0;
				.blog-list-title{
					font-size: 2.2rem;
				}
				.blog-post{
					h5{
						font-size: 1.6rem;
					}
				}
			}
		}
	}
	#main-about{
		.careers{
			.card-custom{
				margin: 0 2rem 2rem 2rem;
			}
		}	
	}
}
@media (max-width: 1199px){
	body{
		font-size: 1rem;
	}
	.general-title{
		font-size: 1.8rem;
	}
	#header{
		height: 40vh;
		background-attachment: scroll;
	}
	#nav-custom{
		.nav-item-custom{
			.nav-link-custom{
				font-size: 1rem;
			}
			.dropdown-menu-custom{
				.dropdown-item-custom{
					font-size: 1rem;
				}
			}
		}
		
	}
	#header{
		
		.about-company-wrap{
			p{
				font-size: 1.2rem;
			}
		}
	}	
	#main{
		.dashboard-items{
			.dashboard-item{
				.counter-amount{
					font-size: 2rem;
				}
				.counter-title{
				font-size: 1.1rem;
				}
			}
		}
		.quotes{
			height: 50vh;
		}
		.article-blog{
			.article-img{
				.article-title{
					font-size: 2.8rem;
				}
			}
			.blog-list{
				padding-right: 1rem;
			}	
		}	
	}
}
@media(max-width: 1100px){
	body{
		font-size: .9rem;
	}
	#main{
		.community-involvement{
			.container-fluid-custom{
				.card-deck-custom{
					.card-custom{
						flex: 0 0 29%;
					}
				}
			}
		}	
		.article-blog{
			.article-img{
				.article-title{
					font-size: 2.5rem;
				}
			}
		}	
	}
}
@media (max-width: 991px) {
	body{
		font-size: .9rem;
	}
	.general-title{
		font-size: 1.8rem;
	}
	.container-fluid-custom{
		width: 85%;
	}
	#nav-custom{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
		.nav-link-custom{
			font-size: .9rem;
		}
	
	}
	#header{
		.company-name-wrap{
			display: block;
			h1{
				font-size: 2.5rem;
			}
			p{
				font-size: 1.1rem;
			}
		}
		.about-company-wrap{
			p{
				font-size: 1.1rem;
			}
		}
	}
	#main{
		.dashboard-items{
			margin-top: 20%;
			.dashboard-item{
				.counter-amount{
					font-size: 1.5rem;
				}
				.counter-title{
				font-size: 1.2rem;
				}
			}
		}
		.community-involvement{
			.container-fluid-custom{
				.card-deck-custom{
					justify-content: center;
					.card-custom{
						flex: 0 0 45%;
						margin-bottom: 30px;
					}
				}
			}
		}	
		.quotes{
			height: 40vh;
		}
		.article-blog{
			.article-img{
				.article-title{
					font-size: 2.3rem;
				}
			}
			.article-content{
				a{
					font-size: 1.1rem;
				}
			}
			.blog-list{
				.blog-post{
					p{
						font-size: .8rem;
						&:first-of-type{
							margin-bottom: 0;
						}
					}	
				}
			}
		}
	}
	#footer{
		.copyright{
			font-size: .9rem;
		}
	}
}
@media (max-width: 767px) {
	.general-title{
		font-size: 1.7rem;
	}
	#nav-custom{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background-color: $main-color;
		padding-top: 15px;
		padding-bottom: 15px;
		.hamburger{
			width: 30px;
			height: 30px;
			i{
				color: white;
			}
		}
		.navbar-nav-custom{
			.nav-item-custom{
				.dropdown-menu-custom{
					width: 100%;
					border: 0;
					background-color: $main-color !important;
					padding-left: 1rem;
					padding-top: 0;

				}
			}
		}
	}
	#header{
		.company-name-wrap{
			display: block;
		}
		.about-company-wrap{
			width: 90%;
		}

	}
	#main{
		.dashboard-items{
			margin-top: 27%;
		}
		.community-involvement{
			.container-fluid-custom{
				width: 90%;
				.card-deck-custom{
					justify-content: space-around;
				}
			}
			
		}
		
		.article-blog{
			.article-img{
				.article-title{
					font-size: 2rem;
					margin-bottom: 0;
				}
			}
			.article-content{
				.article-inner{
					border: 0;
					padding-right: 0;
				}
			}
			.blog-list{
				padding-left: 15px;
				padding-right: 15px;
				position: relative;
					&::before{
						content: "";
						display: block;
						height: 1px;
						background-color: white;
						position: absolute;
						top: 0;
						width: calc(100% - 30px);
					}
					.blog-list-title{
						font-size: 1.5rem;
					}
			}
		}
	}
	#main-about{
		margin-top: 10%;
	}
}
@media(max-width: 575px){
	.general-title{
		font-size: 1.5rem;
	}
	.modal-custom{
		.modal-dialog-custom{
			width: 100%;
		}
	}
	.container-fluid-custom{
		width: 90%;
	}
	#nav-custom{
		background-color: $main-color;
		.nav-link-custom{
			font-size: .9rem;
		}
	}
	#header{
		height: 300px;
		background-attachment: scroll;
		.company-name-wrap{
			top: 55%;
			h1{
				font-size: 2rem;
				padding-top: 0 !important;
			}
		}
		.about-company-wrap{
			p{
				font-size: 1rem;
			}
		}
	}
	#header-about{
		display: none;
	}
	#main{
		.dashboard-items{
			margin-top: 25%;
			margin-bottom: 0;
			justify-content: space-around;
			flex-wrap: wrap;
			.dashboard-item{
				margin-bottom: 1rem;
				.counter-amount{
					font-size: 1.5rem;
				}
				.counter-title{
				font-size: 1.2rem;
				}
			}
		}
		.card-deck-custom{
			.card-custom{
				margin-bottom: 0;
			}
		}
		.more-about-us{
			padding: 15px;
		}
		.clients{
			.clients-logo-wrap{
				width: 30%;
			}
		}
		.quotes{
			height: 450px;
			#carouselTestimonials{
				.carousel-item-custom {
					.quote-wrap{
						padding: 1rem;
						.quote-symbol{
							display: none;
						}
						.quote{
							margin-left: 0;
						}
					}
				}
			}
		} 
	} 
}
@media(max-width: 374px){
	#header{
		height: 270px;
		.company-name-wrap{
			top: 53%;
			h1{
				font-size: 1.4rem;
			}
			p{
				font-size: 1.1rem;
			}
		}
		.about-company-wrap{
			p{
				font-size: 1rem;
			}
		}
	}
	#main{
		.dashboard-items{
			margin-top: 50%;
		}
	}	
}