body {
  font-family: 'Libre Franklin', sans-serif;
  padding-right: 0 !important;
  max-width: 100%;
  font-size: 1rem;
}

.scrolled {
  background-color: #014D80;
  padding: 0 15px;
  transition: all 0.2s linear 0s;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.general-title {
  color: #014D80;
  position: relative;
  margin-bottom: 2rem;
}

.general-title::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 7%;
  background-color: #014D80;
  bottom: -30%;
}

.general-title-white {
  color: white;
}

.general-title-white::after {
  background-color: white;
}

.btn-effect {
  background-color: #014D80;
  color: white;
  border: none;
  border: 2px solid #014D80;
  transition: all 0.2s linear 0s;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-effect:hover {
  background-color: white;
  color: #014D80;
  transition: all 0.2s linear 0s;
  box-shadow: none;
}

.main-btn {
  width: 130px;
  height: 40px;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.modal-backdrop {
  z-index: 1;
}

.modal-custom {
  overflow-y: auto;
  padding-right: 0px !important;
}

.modal-custom .modal-dialog-custom {
  margin: 4rem auto;
  width: 400px;
}

.modal-custom .modal-dialog-custom .modal-content-custom {
  position: relative;
  border: 0;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 1rem;
}

.modal-custom .modal-dialog-custom .modal-content-custom .close-btn {
  color: #014D80;
  margin-right: 10px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  top: 0%;
  font-size: 25px;
}

.modal-custom .modal-dialog-custom .modal-content-custom .envelope-icon {
  color: #014D80;
}

.modal-custom .modal-dialog-custom .modal-content-custom h4 {
  color: #014D80;
}

.modal-custom .modal-dialog-custom .modal-content-custom .subscribe-form {
  align-items: center;
  margin-top: 1rem;
}

.modal-custom .modal-dialog-custom .modal-content-custom .subscribe-input {
  border: 2px solid #014D80;
  border-right: 0;
  height: 40px;
  width: calc(100%*2/3);
  padding-left: 10px;
}

.modal-custom .modal-dialog-custom .modal-content-custom .subscribe-input:focus {
  outline: none;
}

.modal-custom .modal-dialog-custom .modal-content-custom .subscribe-btn {
  height: 40px;
  width: calc(100%*1/3);
  outline: none;
  border-radius: 0;
  padding: 0 10px;
}

.modal-open {
  overflow: auto;
  padding-right: 0px !important;
}

#header {
  height: 75vh;
  background-image: url("images/mountains.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#header #nav-custom {
  transition: all 0.2s linear 0s;
  padding-left: 18px !important;
  padding-right: 18px !important;
}

#header #nav-custom .nav-link-custom {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.7rem;
  display: flex;
  align-items: center;
  transition: all 0.2s linear 0s;
}

#header #nav-custom .nav-link-custom .rotated-angle {
  margin-left: 5px;
  transition: transform .2s ease-in;
}

#header #nav-custom .nav-link-custom .rotate {
  transform: rotate(180deg);
}

#header #nav-custom .nav-link-custom:hover, #header #nav-custom .nav-link-custom:active {
  transition: all 0.2s linear 0s;
  color: white;
}

#header #nav-custom .current {
  color: white;
}

#header #nav-custom .navbar-nav-custom .nav-item-custom {
  cursor: pointer;
}

#header #nav-custom .navbar-nav-custom .dropdown-menu-custom {
  border-radius: 0;
}

#header #nav-custom .navbar-nav-custom .dropdown-menu-custom .dropdown-item-custom {
  color: white;
  padding: 0.7rem;
  font-size: 1rem;
  transition: all 0.2s linear 0s;
}

#header #nav-custom .navbar-nav-custom .dropdown-menu-custom .dropdown-item-custom:hover {
  color: #343a40;
  transition: all 0.2s linear 0s;
}

#header .company-name-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#header .company-name-wrap h1 {
  font-size: 2.8rem;
}

#header .company-name-wrap p {
  font-size: 1.3rem;
}

#header .company-name-wrap a,
#header .company-name-wrap p {
  color: white;
}

#header .about-company-wrap {
  width: 85%;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-right: -50%;
  transform: translate(-50%, 65%);
  padding: 20px;
  background-color: #014D80;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#header .about-company-wrap p {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

#main {
  background-color: #E2E6ED;
  position: relative;
  z-index: 1;
}

#main .dashboard-items {
  margin-top: 20%;
  margin-bottom: 5%;
  justify-content: space-between;
}

#main .dashboard-items .dashboard-item .counter-amount {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 0;
}

#main .dashboard-items .dashboard-item .counter-title {
  text-align: center;
}

#main .community-involvement .container-fluid-custom {
  width: 85%;
}

#main .community-involvement .container-fluid-custom .card-deck-custom {
  justify-content: space-between;
}

#main .community-involvement .container-fluid-custom .card-deck-custom .card-custom {
  flex: 0 0 30%;
  border-radius: 0;
  margin-top: 15px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

#main .community-involvement .container-fluid-custom .card-deck-custom .card-custom .card-title {
  font-weight: 700;
  color: #014D80;
}

#main .more-about-us {
  padding: 30px;
}

#main .more-about-us a {
  text-decoration: none;
  color: #014D80;
}

#main .more-about-us .more-about-us-title {
  display: flex;
  justify-content: center;
}

#main .more-about-us .arrow {
  font-size: 15px;
  margin-left: 10px;
}

#main .clients {
  background-color: #014D80;
}

#main .clients .clients-logo-wrap {
  width: 15%;
  height: 100%;
}

#main .clients .clients-logo-wrap .clients-logo {
  width: 100%;
  height: auto;
}

#main .quotes {
  height: 75vh;
}

#main .quotes #carouselTestimonials {
  height: 340px;
}

#main .quotes #carouselTestimonials .carousel-item-custom .quote-wrap {
  background-color: white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 3%;
}

#main .quotes #carouselTestimonials .carousel-item-custom .quote-wrap .fa-quote-left {
  color: #014D80;
}

#main .quotes #carouselTestimonials .carousel-item-custom .quote-wrap .quote {
  text-align: center;
}

#main .quotes #carouselTestimonials .carousel-item-custom .quote-footer {
  text-align: end;
}

#main .quotes #carouselTestimonials .carousel-item-custom .quote-footer .quote-author {
  color: #014D80;
}

#main .quotes #carouselTestimonials .carousel-item-custom .quote-footer .author-company {
  text-decoration: none;
  color: #014D80;
}

#main .article-blog {
  background-color: #014D80;
}

#main .article-blog .article-img {
  position: relative;
  height: 100%;
}

#main .article-blog .article-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, #252525 90%);
  z-index: 1;
}

#main .article-blog .article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main .article-blog .article-img .article-title {
  position: absolute;
  color: white;
  bottom: 0;
  z-index: 2;
  font-size: 3rem;
  line-height: 1;
}

#main .article-blog .article-content {
  color: white;
}

#main .article-blog .article-content .article-inner {
  border-right: 2px solid white;
  padding-right: 1rem;
  text-align: justify;
}

#main .article-blog .article-content .article-inner a {
  color: white;
}

#main .article-blog .article-content .article-inner a i {
  font-size: 15px;
  margin-left: 5px;
}

#main .article-blog .blog-list-wrap {
  padding-right: 1rem;
}

#main .article-blog .blog-list-wrap .blog-list-title {
  color: white;
  font-size: 1.1rem;
}

#main .article-blog .blog-list-wrap .blog-post {
  margin-bottom: 15px;
}

#main .article-blog .blog-list-wrap .blog-post .post-title > a, #main .article-blog .blog-list-wrap .blog-post .post-author > a, #main .article-blog .blog-list-wrap .blog-post .post-date {
  color: white;
}

#main .article-blog .blog-list-wrap .blog-post .post-author, #main .article-blog .blog-list-wrap .blog-post .post-date {
  color: white;
  margin-bottom: 0;
  font-size: .7rem;
}

#footer {
  color: white;
}

#footer .general-title {
  color: white;
}

#footer .social-icons a {
  color: white;
  display: block;
  transition: all 0.2s linear 0s;
}

#footer .social-icons a:hover {
  transform: scale(1.1);
  transition: all 0.2s linear 0s;
}

#footer .copyright a {
  color: white;
}

@media (max-width: 767px) {
  .general-title {
    font-size: 1.7rem;
  }
  #header #nav-custom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #014D80;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #header #nav-custom .hamburger {
    width: 30px;
    height: 30px;
  }
  #header #nav-custom .hamburger i {
    color: white;
  }
  #header #nav-custom .navbar-nav-custom .nav-item-custom .dropdown-menu-custom {
    width: 100%;
    border: 0;
    background-color: #014D80 !important;
    padding-left: 1rem;
    padding-top: 0;
  }
  #header .company-name-wrap {
    display: block;
  }
  #header .about-company-wrap {
    width: 90%;
  }
  #main .dashboard-items {
    margin-top: 27%;
  }
  #main .community-involvement .container {
    max-width: 650px !important;
  }
  #main .community-involvement .card-deck-custom {
    justify-content: space-around;
  }
  #main .community-involvement .card-deck-custom .card-custom {
    flex: 0 0 45%;
  }
  #main .quotes {
    height: 90vh;
  }
  #main .article-blog .article-img .article-title {
    font-size: 2rem;
    margin-bottom: 0;
  }
  #main .article-blog .article-content .article-inner {
    border: 0;
    padding-right: 0;
  }
  #main .article-blog .blog-list-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .general-title {
    font-size: 1.5rem;
  }
  .modal-custom .modal-dialog-custom {
    width: 100%;
  }
  .container-fluid-custom {
    width: 90%;
  }
  #header {
    height: 375px;
    background-attachment: scroll;
  }
  #header a {
    color: white;
    padding: 0.7rem 0;
  }
  #header .company-name-wrap {
    top: 41%;
  }
  #header .company-name-wrap h1 {
    font-size: 2rem;
    padding-top: 0 !important;
  }
  #header .company-name-wrap p {
    font-size: 1rem;
  }
  #header .about-company-wrap p {
    font-size: 1rem;
  }
  #main .dashboard-items {
    margin-top: 40%;
    margin-bottom: 0;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #main .dashboard-items .dashboard-item {
    margin-bottom: 1rem;
  }
  #main .dashboard-items .dashboard-item .counter-amount {
    font-size: 1.5rem;
  }
  #main .dashboard-items .dashboard-item .counter-title {
    font-size: 1.2rem;
  }
  #main .card-deck-custom {
    margin: 15px;
  }
  #main .card-deck-custom .card-custom {
    margin-bottom: 0;
  }
  #main .more-about-us {
    padding: 15px;
  }
  #main .clients .clients-logo-wrap {
    width: 30%;
  }
  #main .quotes .carousel-item-custom .quote-wrap {
    padding: 1rem;
  }
  #main .quotes .carousel-item-custom .quote-wrap::after, #main .quotes .carousel-item-custom .quote-wrap::before {
    bottom: -4%;
  }
  #main .quotes .carousel-item-custom .quote-wrap i {
    display: none;
  }
  #main .quotes .carousel-item-custom .quote-wrap .quote {
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 1rem;
  }
  .general-title {
    font-size: 1.8rem;
  }
  .container-fluid-custom {
    width: 85%;
  }
  #header #nav-custom .navbar-nav-custom .nav-item-custom .nav-link-custom {
    font-size: 1rem;
  }
  #header #nav-custom .navbar-nav-custom .nav-item-custom .dropdown-menu-custom .dropdown-item-custom {
    font-size: 1rem;
  }
  #header .about-company-wrap p {
    font-size: 1.2rem;
  }
  #main .dashboard-items .dashboard-item .counter-amount {
    font-size: 2rem;
  }
  #main .dashboard-items .dashboard-item .counter-title {
    font-size: 1.1rem;
  }
  #main .quotes {
    height: 90vh;
  }
  #main .article-blog .article-img .article-title {
    font-size: 2.8rem;
  }
  #main .article-blog .blog-list-wrap {
    padding-right: 1rem;
  }
}

@media (max-width: 1100px) {
  body {
    font-size: .9rem;
  }
  #main .quotes {
    height: 77vh;
  }
  #main .community-involvement .container-fluid-custom .card-deck-custom .card-custom {
    flex: 0 0 29%;
  }
  #main .article-blog .article-img .article-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 991px) {
  body {
    font-size: .9rem;
  }
  .general-title {
    font-size: 1.8rem;
  }
  .container-fluid-custom {
    width: 85%;
  }
  #header #nav-custom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #014D80;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0;
  }
  #header #nav-custom .nav-link-custom {
    font-size: .9rem;
  }
  #header .company-name-wrap {
    display: block;
  }
  #header .company-name-wrap h1 {
    font-size: 2.5rem;
  }
  #header .company-name-wrap p {
    font-size: 1.1rem;
  }
  #header .about-company-wrap p {
    font-size: 1.1rem;
  }
  #main .dashboard-items {
    margin-top: 25%;
  }
  #main .dashboard-items .dashboard-item .counter-amount {
    font-size: 1.5rem;
  }
  #main .dashboard-items .dashboard-item .counter-title {
    font-size: 1.2rem;
  }
  #main .community-involvement .container-fluid-custom {
    max-width: 840px !important;
  }
  #main .community-involvement .container-fluid-custom .card-deck-custom {
    justify-content: center;
  }
  #main .community-involvement .container-fluid-custom .card-deck-custom .card-custom {
    flex: 0 0 33%;
  }
  #main .quotes {
    height: 78vh;
  }
  #main .article-blog .article-img .article-title {
    font-size: 2.3rem;
  }
  #main .article-blog .article-content a {
    font-size: 1.1rem;
  }
  #main .article-blog .blog-list-wrap .blog-post p {
    font-size: .8rem;
  }
  #main .article-blog .blog-list-wrap .blog-post p:first-of-type {
    margin-bottom: 0;
  }
  #footer .copyright {
    font-size: .9rem;
  }
}

@media (min-width: 1600px) {
  .general-title {
    font-size: 2.5rem;
  }
  body {
    font-size: 1.2rem;
  }
  .container-fluid-custom {
    width: 90%;
  }
  #header .company-name-wrap h1 {
    font-size: 3.5rem;
  }
  #header .company-name-wrap p {
    font-size: 1.8rem;
  }
  #header .about-company-wrap p {
    font-size: 1.5rem;
  }
  #main .dashboard-items .dashboard-item .counter-amount {
    font-size: 2.7rem;
  }
  #main .dashboard-items .dashboard-item .counter-title {
    font-size: 1.7rem;
  }
  #main .community-involvement .container-fluid-custom .card-deck-custom .card-custom .card-title {
    font-size: 1.6rem;
  }
  #main .community-involvement .container-fluid-custom .card-deck-custom .card-custom .main-btn {
    width: 170px;
    height: 50px;
  }
  #main .more-about-us .more-about-us-title a {
    font-size: 1.5rem;
  }
  #main .more-about-us .more-about-us-title i {
    font-size: 20px;
  }
  #main .quotes {
    height: 80vh;
  }
}

@media (min-width: 1800px) {
  body {
    font-size: 1.4rem;
  }
  .general-title {
    margin-bottom: 2rem;
  }
  .modal-custom .modal-dialog-custom {
    height: auto;
    width: auto;
  }
  .modal-custom .modal-dialog-custom .modal-content-custom {
    width: 530px;
    height: 300px;
    justify-content: center;
    padding: 2rem;
  }
  .modal-custom .modal-dialog-custom .modal-content-custom .close-btn {
    font-size: 40px;
    margin-right: 1.2rem;
    margin-top: 1.2rem;
  }
  .modal-custom .modal-dialog-custom .modal-content-custom .modal-title {
    font-size: 2rem;
    margin-top: 1.3rem;
  }
  .modal-custom .modal-dialog-custom .modal-content-custom .subscribe-form {
    margin-top: 1.3rem;
  }
  .modal-custom .modal-dialog-custom .modal-content-custom .subscribe-form .subscribe-input {
    height: 50px;
  }
  .modal-custom .modal-dialog-custom .modal-content-custom .subscribe-form .subscribe-btn {
    font-size: inherit;
    height: 50px;
  }
  #header #nav-custom .nav-link-custom {
    font-size: 1.4rem;
  }
  #header #nav-custom .dropdown-menu-custom .dropdown-item-custom {
    font-size: 1.4rem;
  }
  #header .about-company-wrap p {
    font-size: 1.8rem;
  }
  #main .dashboard-items {
    margin-top: 25%;
    margin-bottom: 8%;
  }
  #main .community-involvement .container-fluid-custom .card-deck-custom .card-custom .card-title {
    font-size: 2rem;
  }
  #main .community-involvement .container-fluid-custom .card-deck-custom .card-custom .main-btn {
    width: 180px;
    height: 50px;
  }
  #main .more-about-us .more-about-us-title a {
    font-size: 1.7rem;
  }
  #main .more-about-us .more-about-us-title i {
    font-size: 22px;
  }
  #main .clients {
    padding-bottom: 2rem !important;
  }
  #main .quotes {
    height: 600px;
  }
  #main .article-blog .blog-list-wrap .blog-list-title {
    font-size: 2.2rem;
  }
  #main .article-blog .blog-list-wrap .blog-post h5 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1999px) {
  #main .quotes {
    height: 70vh;
  }
  #main .article-blog .blog-list-wrap .blog-post .post-title {
    font-size: 1.1rem;
  }
}
